<div class="row text-center bg-primary foot">
  <div class="col-xs-12 col-xs-margin">
    <a class="foot-link" href="#">联系我们</a>
    <a class="foot-link" href="#">下载手机APP</a>
    <a class="foot-link" href="#">关注官方微信</a>
  </div>
  <div class="col-xs-12">
    欢迎您使用NBA中国官方旗舰店网站！ NBA中国官方旗舰店网站由NBA体育文化发展(北京)有限责任公司委托上海枫泊电子商务有限公司进行运营和维护。
  </div>
</div>
<div class="navbar navbar-fixed-bottom navbar-default hidden-sm hidden-md hidden-lg">
  <div class="container">
    <div class="row text-center text-middle">
      <div class="col-xs-4">
        <span ng-click="jump('/mall_main')" class="glyphicon glyphicon-home nav-link"></span>
      </div>
      <div class="col-xs-4">
        <span ng-click="goToUserCenter()" class="glyphicon glyphicon-user nav-link"></span>
      </div>
      <div class="col-xs-4">
        <span class="glyphicon glyphicon-cog nav-link"></span>
      </div>
    </div>
  </div>
</div>