<div class="header" ng-include="'header.html'"></div>
<div class="row  row-margin">
  <div class="col-xs-12">
    <div class="form-group has-feedback">
      <input type="text" class="form-control" placeholder="搜索...">
      <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><a href="#/mall_main">首页</a></li>
      <li>搜索</li>
    </ul>
  </div>
</div>
<div class="row margin-bottom-sm">
  <div class="col-xs-12">
    <div class="button-goup">
      <button type="button" class="btn btn-sm btn-default">销量<i class="glyphicon glyphicon-sort"></i></button>
      <button type="button" class="btn btn-sm btn-default">价格<i class="glyphicon glyphicon-sort"></i></button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="pro in proList | orderBy:Number(price):true">
    <div class="thumbnail">
      <div class="row">
        <div class="col-xs-4 col-sm-12">
          <a href="#/mall_detail/{{pro.proId}}"><img class="img-responsive" ng-src="img/prolist/{{pro.img_sm}}"/></a>
        </div>
        <div class="col-xs-8 col-sm-12">
          <div class="caption">
            <h5 class="prolist-title">{{pro.pname}}</h5>
            <p>
              <b class="text-danger">￥{{pro.price}}</b>
              <span>月销量<b class="text-danger">{{pro.sales}}</b></span>
            </p>
            <p>
              <a href="#/mall_detail/{{pro.proId}}" type="button" class="btn btn-success btn-xs">查看详情</a>
              <button type="button" class="btn btn-danger btn-xs">加入购物车</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <div class="btn-group" ng-if="isPageShow">
      <button type="button" ng-click="prev()" class="btn btn-default" ng-if="isPrev">&lt;</button>
      <button type="button" ng-click="show($index)" class="btn btn-default" ng-repeat="n in num">{{n}}</button>
      <button type="button" ng-click="showNext()" class="btn btn-default" ng-if="isMore">&gt;</button>
    </div>
    <button type="button"ng-click="add()" class="btn btn-success btn-block" ng-if="isMore && !isPageShow">加载更多</button>
    <div class="alert-danger" ng-if="!isMore && !isPageShow">没有更多数据了</div>
  </div>
</div>
<div class="footer" ng-include="'footer.html'"></div>